{{> header title="Verify Your Email"}}

<p>Hello {{name}},</p>
<p>Thank you for registering with {{appName}}! Please verify your email address by clicking the button below:</p>

<p>
  <a href="{{verificationUrl}}" class="button">Verify Email</a>
</p>

<p>If you didn't create an account, please ignore this email.</p>

{{> footer}}